body{
    background: linear-gradient(black,  #082502);
    font-family: "Exo 2", sans-serif ;
    padding: 0px;
    margin: 0px;
    color: white;
    scroll-behavior: smooth;
}

html{
  scroll-behavior: smooth;
}

nav{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
    padding: 12px;
    background-color: black;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000; 
    box-sizing: border-box;
    font-family: 'Exo 2', sans-serif;
    transition: 0.3s;
}

nav:hover{
        box-shadow:
        0 0 10px yellowgreen,
        0 0 20px yellowgreen,
        0 0 40px yellowgreen;
}


.web-nav{
    width: 130px;
    height: 30px;
    text-align: center;
    background-color: transparent;
    border-radius: 10px;
    border: 1px solid white;
    transition: 0.3s;

}

.web-nav:hover{
    transform: translateY(1px);
    color: red;
}

.games-nav{
    position: fixed;
    top: 0;
    left: 0;
}

#admn-nav{
    width: 150px;
    height: 35px;
    margin: auto;
    border: 1px solid white;
    border-radius: 10px;
    color: white;
    transition: 0.3s;

}

#admn-nav:hover{
    transform: translateY(2px);
    box-shadow:
        0 0 10px darkred,
        0 0 20px darkred,
        0 0 40px darkred;

}

#stats{
    display: flex;
    justify-content: center;
    gap: 30px;
}

#st-01, #st-02{
    font-family: 'Orbitron', sans-serif;
    font-size: 1.3rem;
    font-weight: 900;
    width: 160px;
    height: 100px;
    background-color: #072502;
    border: 1px solid green;
    border-radius: 10px;
    transition: 0.3s;
}

.btns {
    width: 120px;
    height: 45px;
    background-color: #36b120;
    border: 1px solid white;
    border-radius: 10px;
    transition: 0.4s;
    color: white;
    cursor: pointer;
    font-family: 'Exo 2', sans-serif
}

#clr-btn{
    width: 120px;
    height: 45px;
    text-align: center;
    justify-content: center;
    margin: auto;
    border: 1px solid white;
    border-radius: 10px;
    background-color: transparent;
    transition: 0.3s;
    cursor: pointer;
    color: white;
    font-family: 'Exo 2', sans-serif
}

#clr-btn:hover{
    transform: scale(1.1);
    border-color: red;
    color: red;
}

#games{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 20px;
    gap: 20px;
}

.g-cards{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 300px;
    height: 450px;
    background-color: transparent;
    border: 1px solid rgb(56, 221, 38);
    border-radius: 10px;
    padding: 10px;
    transition: 0.3s;
    cursor: pointer;

}

.g-cards:hover{
    transform: translateY(-10px);
    box-shadow: 
    0 0 10px greenyellow,
    0 0 20px greenyellow,
    0 0 40px greenyellow;
}


.p-btns{
    display: flex;
    justify-content: center;
}

.btns:hover{
    transform: scale(1.1);

}

#h1-1{
    font-family: 'Orbitron', sans-serif;
    font-size: clamp(2rem, 5vw, 3.5rem);
    font-weight: 900;
    line-height: 1.2;
    margin-bottom: 20px;
    text-shadow: 0 0 30px  linear-gradient rgb(0, 255, 136, .5);
}

#h1-3{
    text-align: center;
    font-family: 'Orbitron', sans-serif;
    font-size: 35px;
    font-weight: 700;
    color: #00ff99;
    letter-spacing: 2px;
}
#p-1{
    text-align: center;
    color: rgb(94, 93, 93);
}

#st-p{
    display: flex;
    justify-content: center;
    font-family: 'Orbitron', sans-serif;
    font-size: 15px;
    font-weight: 700;
    color: #8dd5b4;
    padding: 10px 10px 20px 20px;
    width: 155px;
    height: 55px;
    margin: auto;
    border: 1px solid white;
    background-color: transparent;
    border-radius: 20px;
    cursor: pointer;
    transition: 0.3s;
}

#st-p:hover{
    transform: translateY(-10px);
    box-shadow: 
    0 0 10px greenyellow,
    0 0 20px greenyellow,
    0 0 40px greenyellow;
}



#fd-b{
    margin: auto;
    padding: 10px;
    width: 350;
    height: fit-content;
    background-color: rgb(7, 45, 3);
    border: 2px solid white;
    border-radius: 10px;
    transition: 0.3s;
    cursor: pointer;

}

#fd-b:hover{
    transform: translateY(-10px);
    box-shadow: 
    0 0 10px greenyellow,
    0 0 20px greenyellow,
    0 0 40px greenyellow;
}

#fdb{
    text-align: center;
    font-family: 'Orbitron', sans-serif;
    font-size: 50px;
    font-weight: 700;
    color: #00ff99;
    letter-spacing: 2px;

}

.fdb-area{
    display: flex;
    flex-direction: column;

}

.inpt{
    width: 100%;
    height: 50px;
    border: 1px solid white;
    border-radius: 10px;
    padding-left: 15px;
    background-color: transparent;
    justify-content: center;
    color: white;
}

#textarea{
    color: white;
}

#slct{
    color: black;
}

#textarea{
    width: 100%;
    height: 100px;
    background-color: transparent;
    border: 1px solid white;
    border-radius:15px;

}

.error-msg {
    color: red;
    font-size: 12px;
}

#e-sup{
    width: 140px;
    height: 32px;
    background-color: #072502;
    border: 1px solid white;
    border-radius: 10px;
    transition: 0.3s;
    cursor: pointer;
}
#c-sup{
    width: 140px;
    height: 32px;
    background-color: #072502;
    border: 2px solid white;
    border-radius: 10px;
    transition: 0.3s;
    cursor: pointer;
}
#c-sup:hover{
    transform: scale(1.1);
}
#e-sup:hover{
    transform: scale(1.1);
}

a{
    text-decoration: none;
    color: white;
    justify-content: center;
    display: flex;
    align-items: center;
}

#main-hd{
    text-align: center;


}

#ld-01{
    padding: 10px;
    width: fit-content;
    height: fit-content;
    flex-wrap: wrap;
    margin: auto;
    background-color: #082702;
    border: 2px solid white;
    border-radius: 20px;
    transition: 0.3s;
    cursor: pointer;
    
}

#loading-msg {
    display: none;
}

#error-msg {
    color: red;
    font-size: 14px;
}

table{
    width: 90%;
    margin: auto;
    border-collapse: collapse;
    text-align: center;

}

th, td{
    border: 2px solid white;
    padding: 15px;
    color: white;
}

#ld-01:hover{
    transform: translateY(-10px);
    box-shadow: 
    0 0 10px greenyellow,
    0 0 20px greenyellow,
    0 0 40px greenyellow;
}



#ldr-hed{
    text-align: center;
    font-family: 'Orbitron', sans-serif;
    font-size: 50px;
    font-weight: 700;
    color: #00ff99;
    letter-spacing: 2px;
}

#aboutUs{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

#about-us{
    text-align: center;
    font-family: 'Orbitron', sans-serif;
    font-size: 15px;
    font-weight: 700;
    color: #8dd5b4;
}

#saad{
    width: 300px;
    height: 350px;
    padding: 10px;
    background-color: transparent;
    border: 1px solid white;
    border-radius: 10px;
    transition: 0.3s;
    cursor: pointer;

}


#instructor{
    width: 300px;
    height: 350px;
    padding: 10px;
    background-color: transparent;
    border: 1px solid white;
    border-radius: 10px;
    transition: 0.3s;
    cursor: pointer;
}

#h-name{
    font-family: 'Orbitron', sans-serif;
    font-size: 25px;
    font-weight: 700;
    color: #8dd5b4;
}

#avtar{
    font-size: 45px;
    text-align: center;

}

.abt-btn{
    width: 120px;
    height: 35px;
    background-color: transparent;
    border: 1px solid white;

    border-radius: 10px;
    transition: 0.4s;
    color: white;
    cursor: pointer;
    font-family: 'Exo 2', sans-serif;
    transition: 0.3s;
}

.abt-btn:hover{
    transform: scale(1.1);
}

#cont-btns{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    text-align: center;
}

#saad:hover, #instructor:hover{
    transform: translateY(-10px);
    box-shadow: 
     0 0 10px greenyellow,
     0 0 20px greenyellow,
     0 0 40px greenyellow;

}

#p-02{
    text-align: center;
    padding-top: 10px;
    width: 150px;
    height: 30px;
    font-family: 'Orbitron', sans-serif;
    font-size: 12px;
    font-weight: 700;
    color: #ffffff;
    border: 1px solid white;
    border-radius: 10px;
    background-color: #43b130;
}


footer{
    padding: 10px;
    width: 100%;
    height: 180px;
    background-color: rgb(0, 12, 1);
}

.admin-page{
    background: linear-gradient(black,  #2e0206);
    font-family: "Exo 2", sans-serif ;
    padding: 10px;
    margin: 0px;
    color: white;
    overflow-x: hidden;
    
}

#admn-hd{
    justify-content: center;
    text-align: center;
    cursor: pointer;
    font-family: 'Orbitron', sans-serif;
    text-shadow: 
        0 0 10px darkred,
        0 0 20px darkred,
        0 0 40px darkred;

}

#main-p{
    text-align: center;
    color: #4c4c4c;
}

#log-sys{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 300px;
    height: 300px;
    margin: auto;
    padding: 25px;
    border: 1px solid white;
    border-radius: 20px;
    background-color: transparent;
    transition: 0.3s;
}

#log-sys:hover{
    box-shadow:
    0 0 10px darkred,
    0 0 20px darkred,
    0 0 40px darkred;
}

#log-sys input{
    width: 280px;
    height: 45px;
    margin-top: 10px;
    padding-left: 15px;
    border: 1px solid white;
    border-radius: 10px;
    background-color: transparent;
    color: white;
}

#log-in{
    width: 150px;
    height: 50px;
    margin-top: 20px;
    border: 1px solid white;
    border-radius: 5px;
    background-color: transparent;
    color: white;
    cursor: pointer;
    transition: 0.3s;
    font-size: 20px;
    font-family: 'Exo 2', sans-serif;
}

#log-in:hover{
    transform: scale(1.05);
    box-shadow:
    0 0 10px darkred,
    0 0 20px darkred,
    0 0 40px darkred;
}



#loginBtns{
    display: flex;
    align-items: end;
    font-family: 'Exo 2', sans-serif;
    gap: 20px;
}

#err-msg{
    text-align: center;
    margin-top: 30px;
    color: #ff4d6d;
    font-family: 'Exo 2', sans-serif;
    font-size: small;
}

#wlcm{
    display: flex;
    justify-content: center;
    font-size: 30px;
    font-family: 'Orbitron', sans-serif;
    border-radius: 10px;
    text-shadow:
        0 0 10px darkred,
        0 0 20px darkred,
        0 0 40px darkred;

}


#goBack{
    width: 150px;
    height: 50px;
    border: 1px solid white;
    border-radius: 5px;
    transition: 0.3s;
    color: red;
    font-family: 'Exo 2', sans-serif;

}

#back-link{
    display: flex;
    justify-content: center;
}

#goback:hover{
    transform: translateY(3px);
    box-shadow: 
        0 0 10px darkred,
        0 0 20px darkred,
        0 0 40px darkred;
}

#settings{
    width: 92%;
    margin: auto;
    margin-top: 40px;
    padding: 20px;
}

#hd-1{
    font-family: 'Orbitron', sans-serif;
    font-size: 32px;
    text-align: center;
    border: 1px solid white;
    border-radius: 10px;
    padding-bottom: 15px;
    transition: 0.3s;
    box-shadow: 
      0 0 10px darkred,
      0 0 20px darkred,
      0 0 40px darkred;
}

#admin-hd{
    text-align: center;
    text-shadow: 
      0 0 10px darkred,
      0 0 20px darkred,
      0 0 40px darkred;
}

#admin-p{
    text-align: center;
    color: #4c4c4c;
}


.admn-btns:hover{
    transform: translateY(-5px);
    box-shadow:
    0 0 10px crimson,
    0 0 20px crimson,
    0 0 40px crimson;
}

#admin-stats{
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
    font-family: 'Exo 2', sans-serif;
}

.admn-stats{
    text-align: center;
    width: 160px;
    height: 70px;
    border: 1px solid white;
    border-radius: 8px;
    background-color: transparent;
}

#ld-mng{
    text-align: center;
    font-family: 'Exo 2', sans-serif;
}

#ldr-mng{
    width: 550px;
    height: fit-content;
    margin: auto;
    border: 1px solid white;
    border-radius: 15px;
    background-color: transparent;
}

#fdb-mng{
    text-align: center;
}

#edit {
    flex-direction: column;
    gap: 15px;
    width: 250px;
    height: fit-content;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid darkred;
    border-radius: 10px;
}

.admn-btn{
    width: 150px;
    height: 50px;
    margin-top: 20px;
    border: 1px solid white;
    border-radius: 5px;
    background-color: transparent;
    color: white;
    cursor: pointer;
    transition: 0.3s;
    font-size: 20px;
    font-family: 'Exo 2', sans-serif;
}

#admn-btns{
    display: flex;
    gap: 10px;
}

.admn-btn:hover{
    transform: translateY(1px);
    box-shadow: 
       0px 0px 10px darkred,
       0px 0px 20px darkred,
       0px 0px 40px darkred;
}

#wrd-pzl{
    border: 1px soli white;
}



#quiz-box{

    font-family: 'Exo 2', sans-serif;

}

#math-quiz{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 300px;
    height: 250px;
    margin: auto;
    padding: 25px;
    gap: 30px;
    border: 1px solid white;
    border-radius: 20px;
    background-color: transparent;
    transition: 0.3s;
    cursor: pointer;
    font-family: 'Exo 2', sans-serif;
}

#math-quiz:hover{
    box-shadow: 
        0 0 10px darkred,
        0 0 20px darkred,
        0 0 40px darkred;
}

.admin-inpt{
    width: 250px;
    height: 35px;
    border: 1px solid white;
    border-radius: 8px;
    background-color: transparent;
    color: white;

}

#name-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    justify-content: center;
    align-items: center;
}

#modal-box {
    background: #1a1a1a;
    display: flex;
    padding: 30px;
    border-radius: 10px;
    text-align: center;
    flex-direction: column;
    gap: 15px;
}

#num-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    margin-top: 10px;
}

.hidden {
    display: none;
}

.matched {
    background-color: #1a5c1a;
    opacity: 0.5;
    cursor: not-allowed;
}

.wrong {
    background-color: red;
}

#guess-game {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.9);
    display: none;
    justify-content: center;
    align-items: center;
}

#guess-box {
    background: #1a1a1a;
    padding: 30px;
    border-radius: 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 15px;
    border: 1px solid greenyellow;
}

#guess-input {
    width: 200px;
    height: 45px;
    padding-left: 15px;
    border: 1px solid white;
    border-radius: 10px;
    background-color: transparent;
    color: white;
    font-size: 18px;
    margin: auto;
}

#num-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    margin-top: 10px;
}

.num-btn {
    width: 60px;
}

.selected {
    background-color: orange;
}

.matched {
    display: none;
}

#guess-input.hidden-input {
    display: none;
}
#guess-btn.hidden-btn {
    display: none;
}

.hide-element {
    display: none;
}

@media(max-width:768px){


    #log-sys{
        width: 90%;
        padding: 20px;
    }

    #log-sys input{
        width: 95%;
    }

        #admin-Panel{
        flex-direction: column;
        gap: 15px;
    }

    


}




